* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    background-color: #FFDEDE;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.notes {
    font-size: 1rem;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}

.content {
    margin: 4rem auto;
}

.card {
    margin-bottom: 3rem;
}

.card1 {
    background-image: url(images/banner.jpg);
    height: 25rem;
    border: 0.3rem solid white;
}

.card2 {
    border-top: 6.5px solid red ;
}

.common-card {
    border-radius: 2rem;
    box-shadow: 3px 3px 10px #c2bfbf;
    padding: 1rem 1rem;
}

.input-box {
    width: 50%;
    border: 0.1px solid #D0D0D0;
    border-radius: 3px;
}

.input-box input {
    background-color: rgba(196, 196, 196, 13%) !important;
}
.input-box input::placeholder {
    color: #CACACA;
    font-weight: 100;
}

button .buttons {
    width: 50%;
}

form select {
    width: 50%;
}

.btn-secondary {
    background-color: rgba(196, 196, 196, 13%);
    color: #CACACA;
    width: 50%;
    border: 2px solid #D0D0D0;
    border-radius: 3px;
    text-align: left;
    margin-bottom: 1.5rem;
}

.nxt-btn {
    border: none;
    padding: 0.2rem 2.5rem;
    background-color: #FF0000;
    color: white;
    font-size: 1.7rem;
    border-radius: 0.6rem;
}

.content a{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.ere-logo {
    width: 6rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.footer p {
    margin: 0;
}

@media screen and (max-width: 425px){
	.card1 {
        background-image: url(images/banner.jpg);
        height: 15rem;
        border: 0.3rem solid white;
    }
}